.cache
.gitlab
.idea
.npm-cache
.parcel-cache
cv
kube
node_modules
scripts
src
.dockerignore
.eslintrc.js
.gitignore
.gitlab-ci.yml
Dockerfile
LICENSE.txt
package.json
package-lock.json
README.md
tsconfig.json