@import "src/mixins";

.landing {
  height: 90vh;

  padding-top: 5rem;
  @include small-device {
    padding-top: 2rem;
  }

  display: flex;
  flex-direction: column;
}

.tagLine {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  font-size: 1.3rem;
}

.commands {
  margin: 2rem 0;
}

.filler {
  flex-grow: 1;
}
