@import "src/mixins";

.landing {
  height: 90vh;

  padding-top: 5rem;
  @include mobile {
    padding-top: 2rem;
  }

  display: flex;
  flex-direction: column;
}

.tagLine {
  font-size: 1.3rem;
}

.filler {
  flex-grow: 1;
}
