@import "../mixins";

.app {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tagLine1 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  font-size: 1.2rem;

  div {
    margin-bottom: 0.8rem;
  }
}

.links {
  margin-bottom: 2rem;
}

.filler {
  flex-grow: 1;
}
