@import "../node_modules/normalize.css/normalize.css";
@import "mixins";

html,
body,
#root {
  font-size: 17px;
  @include small-device() {
    font-size: 15px;
  }

  font-family: monospace, Arial, sans-serif;
}
